<h1>hello <h1>
    
<a href="http://localhost:8000/logout">Logout</a>


<form method="post">{% csrf_token %}
	{% for field in file_form %}
		<p>
			{{field.label_tag}}
			{{field}}

			{% if field.help_text %}
				<small style="color: grey;">{{field.help_text}}</small>
			{% endif %}

			{% for error in field.errors %}
				<p style="color: red;">{{error}}</p>
			{% endfor %}
		</p>
	{% endfor %}
    <input type="file" name="fileToUpload" id="fileToUpload">
	<button type="submit">Upload</button>
	
</form>