{% load static %}
<html>
<head>
<title>Page Title</title>
<LINK href="static/myapp/style.css" rel="stylesheet" title="basicstyle" type="text/css" />
</head>
<body >
<h1 style="text-align:center"><strong>Welcome<strong> </h1>

<class>
<a href="http://localhost:8000/login">Login</a>
</class>

<a href="http://localhost:8000/registration">Registration</a>

<a href="http://localhost:8000/user">user page</a>
<a href="http://localhost:8000/public">repo</a>


<br> {{request.user.username}}</br>

</body>
</html>